@charset="utf-8";

body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5{
  margin:0;
  padding:0;
}
body{
  font-family:'NanumGothic','나눔고딕','맑은고딕','MargunGothic','돋움','dotum',Helvetica,sans-serif;
  font-size:12px;
  color:#333;
}
ul,ol{
  list-style:none;
}
a{
  text-decoration:none;
  color:inherit;
}
em{
  font-style:normal;
}
.blind,.u_skip{
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
}
.content{
  margin-top:5px;
  min-width:960px;
}
.content .inner{
  position:relative;
  width:960px;
  height:100%;
  margin:0 auto;
  overflow:hidden;
}
.spot{
  height:950px;
  background:#7b011c url('../img/pc-main-7-b-011-c.jpg') no-repeat 50% 0;
}
.section_event1{
  height:483px;
  background-color:#97102e;
  color:#fff;
}
.section_event1 .inner{
  padding-top:145px;
  background:url('../img/pc-sec-1-title.png') no-repeat left top 85px;
}
.section_event1 .about_event:after{
  display:block;
  clear:both;
  content:'';
}
.section_event1 .section_title{
  margin-bottom:29px;
  font-size:44px;
  font-weight:600;
  line-height:50px;
  letter-spacing:-1.5px;
}
.section_event1 .section_title_small{
  font-size:40px;
}
.section_event1 .section_text{
  margin-bottom:30px;
  font-size:24px;
  line-height:36px;
  letter-spacing:-0.5px;
}
.section_event1 .num{
  font-size:26px;
}
.section_event1 .inner_notice{
  font-size:20px;
  line-height:36px;
  letter-spacing:-0.5px;
  color:#ffa9bc;
}

.section_event1 .img_wrap{
  position:absolute;
  right:-5px;
  top:80px;
}
.section_event1 .img_wrap img{
  margin-bottom:15px;
}
.section_event1 .img_wrap span{
  display:block;
  margin-left:27px;
  text-align:center;
  font-size:16px;
  line-height:24px;
  letter-spacing:-0.5px;
}
.section_event2{
  height:670px;
  background:#025756 url('../img/pc-img-sec-2.png') no-repeat 50% 0;
}
.section_card{
  height:1196px;
  background:url('../img/pc-img-sec-3.jpg') no-repeat 50% 0;
}
.section_card .link_btn{
  display:block;
  position:absolute;
  left:50%;
  margin-left:-152px;
  width:302px;
  height:60px;
}
.section_card .link_btn.cookie_check{
  bottom:582px;
}
.section_card .link_btn.unimile_check{
  bottom:80px;
}
.section_eventinfo .inner{
  padding: 60px 0;
  border-bottom:1px solid #d8d8d8;
}
.section_eventinfo .point_color{
  color:#a30f0f;
  font-weight:bold;
}
.section_eventinfo .point_color2{
  color:#017675;
  font-weight:bold;
}
.section_eventinfo .event_title{
  margin-top:60px;
  margin-bottom:20px;
  font-size:24px;
  line-height:32px;
  letter-spacing:-0.8px;
}
.section_eventinfo .event_title.event_one{
  color:#a30f0f;
}
.section_eventinfo .event_title.event_two{
  color:#0a7675;
}
.section_eventinfo .info_title,
.section_eventinfo .info_text{
  margin-bottom:22px;
  font-size:18px;
  line-height:30px;
  letter-spacing:-0.6px;
}
.section_eventinfo .info_title{
  float:left;
  min-width:118px;
  font-weight:bold;
}
.section_eventinfo .info_text{
  overflow:hidden;
  color:#6a6a6a;
  white-space:nowrap;
}
.section_eventinfo .info_text em{
  display:block;
  color:#979797;
  padding-left:20px;
}
.section_eventinfo .info_text em:before{
  display:inline-block;
  margin-left:-20px;
  margin-right:4px;
  content:'※';
}
.section_notice .section_title{
  margin-top:60px;
  margin-bottom:20px;
  font-size:16px;
  letter-spacing:-0.6px;
  color:#a30f0f;
}
.section_notice .section_title:before{
  display:inline-block;
  background:url('../img/invalid-name.png') no-repeat center;
  width:20px;
  height:20px;
  margin-left:2px;
  margin-right:8px;
  vertical-align:middle;
  content:'';
}
.section_notice .notice_list{
  font-size:14px;
  line-height:24px;
  letter-spacing:-1px;
}
.section_notice .notice_list.big_text{
  margin-top:10px;
}
.section_notice .list_item{
  padding-left:8px;
}
.section_notice .list_item+.list_item{
  margin-top:6px;
}
.section_notice .list_item:before{
  display:inline-block;
  width:2px;
  height:2px;
  margin-left:-6px;
  margin-right:7px;
  vertical-align:3px;
  content:'';
  background-color:#333;
}
.section_notice .list_item.big_text{
  font-size:24px;
  line-height:30px;
  font-weight:bold;
  color:#555;
}
.section_notice .list_item.big_text:before{
  vertical-align:8px;
}
.section_notice .notice_list .sub_list_item{
  margin-top:6px;
  padding-left:20px;
}
.section_notice .notice_list .sub_list_item span{
  display:block;
  margin-top:6px;
}
.section_notice .notice_list .sub_list_item:before{
  display:inline-block;
  content:'-';
  margin-left:-11px;
  margin-right:6px;
}
.section_notice .notice_list .sub_list_item:last-child:before{
  content:'';
}
