@charset "UTF-8";

/* Common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, th, td, form, fieldset, legend, input, textarea, button, select {
  margin: 0;
  padding: 0;
}

body, input, textarea, select, button {
  font-family: 'NanumGothic', '나눔고딕', '맑은고딕', MalgunGothic, '돋움', Dotum, Helvetica, sans-serif;
  font-size: 12px;
}

img, fieldset {
  border: 0;
}

ul, ol {
  list-style: none;
}

em, address {
  font-style: normal;
}

a {
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

hr {
  display: none !important;
}

.u_skip, .blind {
  overflow: hidden !important;
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
}

table {
  border-spacing: 0;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

/* 이벤트 */
.content {
  width: 100%;
  min-width: 1130px;
  margin-top: 6px;
  letter-spacing: -1px;
}

.content .inner {
  overflow: hidden;
  position: relative;
  width: 920px;
  height: 100%;
  margin: 0 auto;
}

/* spot */
.spot {
  height: 1212px;
  background: #fee3dc url("../img/bg_spot01.jpg") no-repeat 50% 0;
}

/* section_buy_pay */
.spot_buy_pay {

}

.spot_buy_pay .pay_step_list {
  overflow: hidden;
  padding-top: 800px;
  height: 312px;
}

.spot_buy_pay .pay_step_list>li {
  position: relative;
  float: left;
  width:294px;
  height:312px;
}

.spot_buy_pay .pay_step_list>li+li {
  margin-left: 19px;
}

.spot_buy_pay .pay_step_list>li .step_link {
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  height: 62px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
}

.spot_buy_pay .pay_step_list>li.step01 .appstore_link_list {
  position: absolute;
  left: 23px;
  top: 172px;
  width:248px;
}

.spot_buy_pay .pay_step_list>li.step01 .appstore_link_list li {
  float: left;
}
.spot_buy_pay .pay_step_list>li.step01 .appstore_link_list li+ li{
  margin-left:4px;
}

.spot_buy_pay .pay_step_list>li.step01 .appstore_link_list li a {
  display: block;
  width: 122px;
  height: 50px;
}


/* section_buy_way */
.section_buy_way {
  height: 1039px;
  background: #cd5640 url("../img/bg_buy_way.jpg") no-repeat 50% 0;
}

.section_buy_way .btn_link {
  position: absolute;
  display: block;
  width: 320px;
  height: 62px;
  left: 300px;
  bottom: 81px;
}

/* section_franchise */
.section_franchise {
  height: 1381px;
  background: #f3f4f6 url("../img/bg_franchise.jpg") no-repeat 50% 0;
  overflow: hidden;
}


.section_franchise .brand_list {
  position: relative;
  height: 561px;
  margin: 415px 25px 0;
}

.section_franchise .brand_list>li {
  position: absolute;
  width: 400px;
}

.section_franchise .brand_list>li.store {
  left: 0;
  top: 0;
}

.section_franchise .brand_list>li.airport_hotel {
  right: 0;
  top: 0;
}

.section_franchise .brand_list>li.electronic_store {
  left: 0;
  top: 220px;
}

.section_franchise .brand_list>li.food_transport_etc {
  right: 0;
  top: 220px;
}

.section_franchise .brand_list>li.department {
  left: 0;
  bottom: 0;
}

.section_franchise .brand_list>li ul {
  overflow: hidden;
}

.section_franchise .brand_list>li ul .brand_item {
  float: left;
  width: 120px;
  height: 121px;
}

.section_franchise .brand_list>li ul .brand_item+.brand_item {
  margin-left: 20px;
}
.section_franchise .brand_list>li.store .brand_item{
  margin-left:70px;
}
.section_franchise .brand_list>li ul .brand_item a {
  display: block;
  height:100%;
}

.section_franchise .btn_link {
  display: block;
  position: absolute;
  left: 300px;
  bottom: 281px;
  width: 320px;
  height: 62px;
}

.section_franchise .btn_link.talk {
  bottom: 81px;
}

/* section_buy_review */
.section_buy_review {
  height: 788px;
  background: #2a4196 url("../img/bg_buy_review.jpg") no-repeat 50% 0;
}

.section_buy_review .area_review {
  overflow: hidden;
  margin:213px 50px 0;
  text-align: center;
}

.section_buy_review .area_review .video_box {
  height: 465px;
  margin-bottom: 27px;
}

.section_buy_review .area_review .review_title {
  font-family: 'NanumSquare', '나눔스퀘어';
  font-size: 20px;
  letter-spacing: -1px;
  color: #8aa2f6;
}

/* section_faq */
.section_faq {
  padding: 60px 0;
  background-color: #dfe1eb;
}

.section_faq .inner {
  width: 820px;
}

.section_faq .faq_title {
  width: 58px;
  height: 26px;
  background: url("../img/faq_tit.png") no-repeat;
}

.section_faq .faq_area {
  margin: 16px 0 0 2px;
}

.section_faq .faq_area>li {
  color: #565656;
  font-size: 16px;
  margin-bottom: 27px;
}

.section_faq .faq_area>li:first-child {
  margin-bottom: 30px;
}

.section_faq .faq_area>li h4 {
  color: #000;
  font-size: 18px;
  margin-bottom: 11px;
  letter-spacing: -0.85px;
}
.section_faq .faq_area>li h4:before{
  content:'Q. '
}

.section_faq .faq_area>li p {
  position: relative;
  padding-left: 10px;
  color: #565656;
  letter-spacing: -0.65px;
}

.section_faq .faq_area>li p:before {
  content: "-";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.section_faq .faq_area .in_desc {
  margin-top: 14px;
}

.section_faq .faq_area .in_desc>li {
  position: relative;
  font-size: 14px;
  padding-left: 9px;
  color: #777;
  letter-spacing: -0.6px;
}

.section_faq .faq_area .in_desc>li:before {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 7px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #6e6e70;
}

.section_faq .faq_area .in_desc>li+li {
  margin-top: 9px;
}

.section_faq .sub_desc {
  margin: 25px 0 0 1px;
}

.section_faq .sub_desc>li {
  color: #777;
  font-size: 14px;
  letter-spacing: -0.6px;
}

.section_faq .sub_desc>li+li {
  margin-top: 10px;
}

.section_faq .more_link {
  color: #02b202;
  padding-left: 2px;
  text-decoration:underline;
}

/* Footer */
.footer {
  overflow: hidden;
  height: 249px;
  background: #f7f7f9 url("../img/bg_footer.jpg") no-repeat 50% 0;
}

.footer .inner {
  width: 920px;
  margin: 0 auto;
}

.footer .section_sns {
  overflow: hidden;
  width: 554px;
  margin: 0 auto;
  padding-top: 59px;
  padding-bottom: 27px;
}

.footer .item_sns {
  float: left;
  overflow: hidden;
  width: 90px;
  height: 90px;
}

.footer .item_sns+.item_sns {
  margin-left: 26px;
}

.footer .link_sns {
  display: block;
  height: 92px;
  line-height: 999em;
}

.footer .section_copy {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9px;
  line-height: 14px;
  color: #999;
  text-align: center;
}

.footer .section_copy a {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 9px;
  font-weight: bold;
  color: #999;
}
