@charset "UTF-8";
@font-face {
	font-family: 'NanumSquareR';
	src: url("../webfont/NanumSquare/NanumSquareR.eot");
	src: url("../webfont/NanumSquare/NanumSquareR.eot?#iefix") format('embedded-opentype'), url("../webfont/NanumSquare/NanumSquareR.woff") format('woff'), url("../webfont/NanumSquare/NanumSquareR.ttf") format('truetype');
}
@font-face {
	font-family: 'NanumSquareB';
	src: url("../webfont/NanumSquare/NanumSquareB.eot");
	src: url("../webfont/NanumSquare/NanumSquareB.eot?#iefix") format('embedded-opentype'), url("../webfont/NanumSquare/NanumSquareB.woff") format('woff'), url("../webfont/NanumSquare/NanumSquareB.ttf") format('truetype');
}
@font-face {
	font-family: 'NanumSquareEB';
	src: url("../webfont/NanumSquare/NanumSquareEB.eot");
	src: url("../webfont/NanumSquare/NanumSquareEB.eot?#iefix") format('embedded-opentype'), url("../webfont/NanumSquare/NanumSquareEB.woff") format('woff'), url("../webfont/NanumSquare/NanumSquareEB.ttf") format('truetype');
}
@font-face {
	font-family: 'NanumSquareL';
	src: url("../webfont/NanumSquare/NanumSquareL.eot");
	src: url("../webfont/NanumSquare/NanumSquareL.eot?#iefix") format('embedded-opentype'), url("../webfont/NanumSquare/NanumSquareL.woff") format('woff'), url("../webfont/NanumSquare/NanumSquareL.ttf") format('truetype');
}
