body,
html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
  font-weight: normal;
}

fieldset {
  border: 0;
}

img,
video {
  border: 0;
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

li {
  vertical-align: top;
  list-style: none;
}

textarea {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  resize: none;
}

address,
em {
  font-style: normal;
}

input,
select {
  vertical-align: middle;
}

input[type=text]::-ms-clear {
  display: none;
}

button {
  padding: 0;
  border: none;
  border: 0;
  outline: none;
  outline: 0;
  background: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

table {
  table-layout: fixed;
  padding: 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

table caption {
  visibility: hidden;
}

@font-face {
  font-family: 'NanumSquareR';
  src: url("../webfont/NanumSquare/NanumSquareR.eot");
  src: url("../webfont/NanumSquare/NanumSquareR.eot?#iefix") format("embedded-opentype"), url("../webfont/NanumSquare/NanumSquareR.woff") format("woff"), url("../webfont/NanumSquare/NanumSquareR.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumSquareB';
  src: url("../webfont/NanumSquare/NanumSquareB.eot");
  src: url("../webfont/NanumSquare/NanumSquareB.eot?#iefix") format("embedded-opentype"), url("../webfont/NanumSquare/NanumSquareB.woff") format("woff"), url("../webfont/NanumSquare/NanumSquareB.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumSquareEB';
  src: url("../webfont/NanumSquare/NanumSquareEB.eot");
  src: url("../webfont/NanumSquare/NanumSquareEB.eot?#iefix") format("embedded-opentype"), url("../webfont/NanumSquare/NanumSquareEB.woff") format("woff"), url("../webfont/NanumSquare/NanumSquareEB.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumSquareL';
  src: url("../webfont/NanumSquare/NanumSquareL.eot");
  src: url("../webfont/NanumSquare/NanumSquareL.eot?#iefix") format("embedded-opentype"), url("../webfont/NanumSquare/NanumSquareL.woff") format("woff"), url("../webfont/NanumSquare/NanumSquareL.ttf") format("truetype");
}

/* border-radius */
/* background-size */
.shopping_lesson {
  overflow: hidden;
  position: relative;
  min-width: 1154px;
  font-family: 'NanumSquareR', 'Apple SD Gothic Neo', Helvetica, sans-serif;
}

.shopping_lesson .spot {
  position: relative;
  color: #fff;
  height: 1151px;
  background: url("../img/bg_spot.jpg") 50% 0 no-repeat;
  text-align: center;
}

.shopping_lesson .spot .bg_l {
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 1151px;
  background: url("../img/bg_left.png") 50% 0 repeat-x;
  margin-right: 900px;
}

.shopping_lesson .spot .bg_r {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 1151px;
  background: url("../img/bg_right.png") 50% 0 repeat-x;
  margin-left: 900px;
}

.shopping_lesson .spot .spot_title {
  font-size: 64px;
  padding-top: 188px;
}

.shopping_lesson .spot .spot_sub_title {
  font-size: 26px;
  padding-top: 24px;
}

.shopping_lesson .inner {
  position: relative;
  width: 1194px;
  height: 100%;
  margin: 0 auto;
}

.shopping_lesson .section {
  background: #fff url("../img/bg_section.jpg") 50% 0 no-repeat;
}

.shopping_lesson .section .lesson_box {
  position: relative;
  padding: 149px 21px 262px;
}

.shopping_lesson .section .lesson_list:after {
  content: '';
  display: block;
  clear: both;
}

.shopping_lesson .section .lesson_list li {
  float: left;
  vertical-align: top;
}

.shopping_lesson .section .lesson_list li .lesson_title {
  position: relative;
  display: block;
  width: 192px;
  height: 192px;
}

.shopping_lesson .section .lesson_list li.lesson_health .lesson_title {
  background: url("../img/img_lesson1.jpg") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li.lesson_music .lesson_title {
  background: url("../img/img_lesson2.jpg") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li.lesson_ball .lesson_title {
  background: url("../img/img_lesson3.jpg") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li.lesson_martial .lesson_title {
  background: url("../img/img_lesson4.jpg") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li.lesson_outdoor .lesson_title {
  background: url("../img/img_lesson5.jpg") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li.lesson_etc .lesson_title {
  background: url("../img/img_lesson6.jpg") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li .lesson_title:hover:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -46px;
  left: -36px;
  width: 304px;
  height: 304px;
  z-index: 5;
}

.shopping_lesson .section .lesson_list li.lesson_health .lesson_title:hover:after {
  background: url("../img/img_on_lesson1.png") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li.lesson_music .lesson_title:hover:after {
  background: url("../img/img_on_lesson2.png") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li.lesson_ball .lesson_title:hover:after {
  background: url("../img/img_on_lesson3.png") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li.lesson_martial .lesson_title:hover:after {
  background: url("../img/img_on_lesson4.png") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li.lesson_outdoor .lesson_title:hover:after {
  background: url("../img/img_on_lesson5.png") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li.lesson_etc .lesson_title:hover:after {
  background: url("../img/img_on_lesson6.png") 0 0 no-repeat;
}

.shopping_lesson .section .lesson_list li.open_list .item {
  display: block;
}

.shopping_lesson .section .lesson_list .item {
  display: none;
  position: absolute;
  top: 419px;
  left: 0;
  right: 0;
  text-align: center;
}

.shopping_lesson .section .lesson_list .item a {
  display: inline-block;
  height: 68px;
  padding: 0 47px 0 45px;
  margin: 0 8px 6px 0;
  line-height: 68px;
  background-color: #06dd81;
  font-size: 20px;
  color: #fff;
}

.shopping_lesson .section .lesson_list .item a:after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 14px;
  vertical-align: top;
  margin: 26px 0 0 13px;
  background: url(../img/img_item_icon.png) no-repeat;
}

.shopping_lesson .section2 {
  height: 875px;
  background: #f4f4f4 url("../img/bg_section2.jpg") 50% 0 no-repeat;
}

.shopping_lesson .section2 .shopping_benefit {
  overflow: hidden;
  text-align: center;
  padding-top: 651px;
  font-size: 18px;
  line-height: 30px;
}

.shopping_lesson .section2 .shopping_benefit li {
  float: left;
  width: 398px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
}

.shopping_lesson .section2 .shopping_benefit li.benefit_lesson {
  padding-right: 25px;
}

.shopping_lesson .section2 .shopping_benefit li.benefit_handy {
  padding-left: 3px;
}

.shopping_lesson .section2 .shopping_benefit li.benefit_shopping {
  padding-left: 37px;
}

.shopping_lesson .section3 {
  position: relative;
  height: 225px;
  background: #fff url("../img/bg_section3_v2.png") 50% 0 no-repeat;
}

.shopping_lesson .section3 .bg_l {
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
  background: url("../img/bg_section_left_v2.jpg") 50% 0 repeat-x;
  margin-right: 900px;
}

.shopping_lesson .section3 .bg_r {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background: url("../img/bg_section_right_v2.jpg") 50% 0 repeat-x;
  margin-left: 900px;
}

.shopping_lesson .section3 .link_exhibition {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.shopping_lesson .section4 {
  height: 245px;
  background: #ebfff9 url("../img/bg_section4.png") 50% 0 no-repeat;
}

.shopping_lesson .section4 .link_benefit {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.shopping_lesson .section5 {
  height: 426px;
  text-align: center;
  background: #fff url("../img/bg_section5_v2.jpg") 50% 0 no-repeat;
}

.shopping_lesson .section5 .btn_area {
  display: inline-block;
  padding-top: 191px;
}

.shopping_lesson .section5 .btn_area a {
  display: block;
  float: left;
  width: 364px;
  height: 88px;
}

.shopping_lesson .section5 .btn_area a:first-child {
  margin-right: 17px;
}

/*# sourceMappingURL=maps/shopping_lesson.css.map */
