@meta charset="utf-8";

*{box-sizing:border-box;}
body{font:0.8em/1.4 'Nanum Gothic',sans-serif; letter-spacing:0.1em; min-width:1900px;}
a{text-decoration:none; font-size:1em; color:#666; outline:none;}
img{vertical-align:bottom;}

/*****************************************************gnb************/
header.gnb-bar{width:100%; background:#fff; position:relative; left:0; top:0;}
header.gnb-bar nav.gnb-inner{width:100%; position:relative; left:0; top:0;}
header.gnb-bar nav.gnb-inner div.logo-wrap{width:120px; margin:0px auto; padding:15px 0;}
header.gnb-bar nav.gnb-inner div.logo-wrap img{width:100%;}
ul.gnb-cate-list{width:30%; margin:0 auto; overflow:hidden;}
ul.gnb-cate-list li.menu{float:left; width:20%; text-align:center;}
ul.gnb-cate-list li.menu>a{display:block; padding:10px 0;}
ul.submenu-zone{position:absolute; left:0; top:100%; width:100%; display:flex; justify-content:center; align-items:center; opacity:0; visibility:hidden;}
ul.submenu-zone.on{opacity:1; visibility:visible; border-top:1px solid #ddd; background:#320311; color:#fff;transition:.5s ease; z-index:999;}

ul.submenu-zone>li{padding:20px 40px;}

header.gnb-bar nav.left-sub{
    width:100px; height:100%; position:absolute; left:15%; top:0; transform:skew(-40deg); background:#320311;
}
header.gnb-bar nav.left-sub a{
    position:absolute;left:50%; top:45px; padding:5px; letter-spacing:0.2em; font-size:0.8em; font-weight:700; transform:translate(-50%,-50%) skew(40deg); color:#fff; 
}
header.gnb-bar .right-subicon-menu{position:absolute; right:15%; top:40px;}
header.gnb-bar .right-subicon-menu li{float:left;}
li.login{margin:0 15px;}

/****************************서치바**************************/
div.searchicon{position:relative; width:20px; height:20px;}
div.searchicon span.circle{
    position:absolute; left:0;top:0;
    width:13px; height:13px; 
    border:1px solid #666; border-radius:50%;
}
div.searchicon span.line{
    position:absolute; right:5px; bottom:3px;
    width:1px; height:6px;
    background:#666;
    transform:skew(45deg);
}
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:9999;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%);
	transform: translate(0px, -100%);
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color:#320311;
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    background:#320311;
    border:none;
    outline:none;
    padding:7px 30px;
    border-radius:5px;
    margin-top:100px;
    margin-left: -45px;
    color:#fff;
}
#search .close {
    position: fixed;
    top: 50px;
    right: 30px;
    color: #320311;
    background:none;
    border:none;
    outline:none;
	padding: 5px 10px;
	font-size: 35px;
    cursor:pointer;
}
/********************************************************메인슬라이드*/
section.main-slider-wrap
{width:100%; height:90vh; overflow:hidden;}
section.main-slider-wrap div.slider{width:100%; height:100%; background:black;}
section.main-slider-wrap div.slide{position:relative; left:0; top:0;}
div.slick-video{width:100%;}
div.slick-video video{width:100%; margin-top:-10vh;}
div.right-content{
    width:30%; height:100%; 
    position:absolute; right:0; top:0; 
    background:rgba(255,255,255,.4);
    transform:skewX(-40deg);
-webkit-transform:skewX(-40deg);
}
div.right-content span{display:inline-block; width:5px; height:1px; background:#fff;}
p.right-text{
    position:absolute; left:50%; top:50%; 
    font-size:2.0em; visibility:hidden; 
    transform:translate(-50%,-50%) skewX(40deg);
-webkit-transform:translate(-50%,-50%) skewX(40deg);
}
p.right-text a{color:#fff;}
p.right-text:hover a{color:#320311;}
p.right-text strong{display:block; font-size:0.5em; position:relative;}
 /*********슬라이드 에니메이션*********/
div.main-slider [data-animation-in] {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}
div.main-slider .animated {
  transition: all 0.5s ease;
}
.widthin{
    opacity:1;
    animation-name:widthin;
}
@keyframes widthin{
    0%{
        opacity:1;
        width:100%;
    }
    100%{
        width:30%;
    }
}
.videoAnimation{
    animation-name:videoAnimation;
}
@keyframes videoAnimation{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.fadeInRight{animation:fadeInRight .5s 1s ease forwards;}
.fadeInLeft{animation:fadeInLeft .9s 1s ease forwards;}
@keyframes fadeInRight{
    from{
        opacity:0;
        left:55%;
    }
    to{
        opacity:1;
        left:50%;
        visibility:visible;
    }
}
@keyframes fadeInLeft{
    from{
        opacity:0;
        left:-200px;
    }
    to{
        opacity:1;
        left:0;
    }
}
            /*슬라이드 이전 다음 버튼*/
.slick-prev,
.slick-next{
    width:45px; height:45px; border-radius:50%; background:#fff; overflow:hidden;
}
.slick-prev:hover,.slick-next:hover{opacity:1; background:#fff;}


.slick-prev:before,
.slick-next:before{
    color:#666; 
    content:''; 
    display:inline-block; 
    width:8px; height:8px; 
    border-top:2px solid #666;
}
.slick-prev:before{ 
    border-left:2px solid #666; 
    position:absolute; left:50%; top:45%;
    transform:rotate(-45deg) translateY(-50%); 
-webkit-transform:rotate(-45deg) translateY(-50%); 
}
.slick-prev:after{
    content:''; 
    width:8px; 
    height:8px; 
    border-top:2px solid #632732; 
    border-left:2px solid #632732; 
    display:inline-block; 
    position:absolute;left:200%; top:45%; 
    transform:rotate(-45deg) translateY(-50%);
-webkit-transform:rotate(-45deg) translateY(-50%);
}
.slick-prev:hover:before{
    animation:prevbtn .2s ease forwards;
-webkit-animation:prevbtn .2s ease forwards;
}
.slick-prev:hover:after{
    animation:prevbtn2 .2s ease forwards;
-webkit-animation:prevbtn2 .2s ease forwards;
}
@keyframes prevbtn{
    0%{
        left:50%;
    }
    100%{
        left:-100%;
    }
}
@keyframes prevbtn2{
    0%{
        left:100%;
    }
    100%{
        left:50%;
    }
}
@-webkit-keyframes prevbtn{0%{left:50%;}100%{left:-100%;}}
@-webkit-keyframes prevbtn2{0%{left:100%;}100%{left:50%;}}

.slick-next:before{
    margin-left:2px; 
    border-right:2px solid #666; 
    position:absolute; right:50%; top:45%;
    transform:rotate(45deg) translateY(-50%); 
-webkit-transform:rotate(45deg) translateY(-50%); 
}
.slick-next:after{
    content:''; 
    width:8px; 
    height:8px; 
    border-top:2px solid #632732; 
    border-right:2px solid #632732; 
    display:inline-block; 
    position:absolute; right:200%; top:45%; 
    transform:rotate(45deg) translateY(-50%);
    -webkit-transform:rotate(45deg) translateY(-50%);
    
}
.slick-next:hover:before{
    animation:nextbtn2 .2s ease forwards;
    -webkit-animation:nextbtn2 .2s ease forwards;
}
.slick-next:hover:after{
    animation:nextbtn .2s ease forwards;
    -webkit-animation:nextbtn .2s ease forwards;
}
@keyframes nextbtn{
    0%{
        right:100%;
    }
    100%{
        right:50%;
    }
}
@keyframes nextbtn2{
    0%{
        right:50%;
    }
    100%{
        right:-100%;
    }
}
@-webkit-keyframes nextbtn{0%{right:100%;}100%{right:50%;}}
@-webkit-keyframes nextbtn2{0%{right:50%;}100%{right:-100%;}}
                     /*끝에가면 화살표숨기기*/
.slick-prev.slick-disabled,.slick-prev.slick-disabled:before,
.slick-next.slick-disabled,.slick-next.slick-disabled:before{
    opacity: 0;
}

section.main-slider-wrap .slick-prev{left:72%; top:56.5%; z-index:999; background:rgba(255,255,255,.5);}
section.main-slider-wrap .slick-next{right:3%; top:56.5%; z-index:999;background:rgba(255,255,255,.5);}

                   /*********************************도트페이저*/
section.main-slider-wrap .slick-dots{left:31.6%; bottom:33%;}
section.main-slider-wrap .slick-dots li{width:auto; height:auto;}
section.main-slider-wrap .slick-dots li button{ 
    width: 50px;height: 5px; 
}
section.main-slider-wrap .slick-dots li button:before
{
    line-height: 20px;
    width: 50px;
    height: 5px;
    border-radius:20px;
    background:#632732;
    content: '';
    opacity: .25;
}
section.main-slider-wrap .slick-dots li button:hover:before,
section.main-slider-wrap .slick-dots li button:focus:before
{
    opacity: 1;
}
section.main-slider-wrap .slick-dots li.slick-active button:before{
    opacity:1;
    background:#632732;
}

/*******************************************************백팩 슬라이드*/
section.product-slider{width:100%; height:100vh; background:#f7f5f4; position:relative; left:0; top:0;}
section.product-slider div.collection-tltewrap
{
position:absolute; left:50%; top:130px; 
font-size:0.9em; text-align:center; word-spacing:.5em; 
transform:translateX(-50%);-webkit-transform:translateX(-50%);
}

section.product-slider div.collection-tltewrap h1{font-size:2.2em; word-spacing:.6em;margin-top:30px; }

section.product-slider .slider{position:absolute; width:100%; top:350px;}
section.product-slider .slider a{display:block; height:100%;}
section.product-slider .slider .slick-slide{text-align:center; padding:50px 0 50px 0;}
section.product-slider .slider .slick-slide .product{width:60%; margin:0 auto; }
section.product-slider .slider .slick-slide .product p{margin-bottom:-40px;}
.product img{width:100%;}
section.product-slider .slider .slick-slide .product-ref{margin-top:10px; font-weight:700; font-size:1.05em; color:rgba(0,0,0,.5);}
section.product-slider .slider .slick-slide .color-choice{width:100%; margin-top:30px;}
section.product-slider .slider .slick-slide .color-choice span{display:inline-block; width:10px; height:10px; margin:0 5px; background:green; border-radius:50%;}
section.product-slider .slider .slick-slide:hover{background:#ddd;}

section.product-slider .slick-prev{left:5%; z-index:100;}
section.product-slider .slick-next{right:5%;}
                /**************************컬러*/
section.product-slider .slider .slick-slide .color-choice span.pink{background:pink;}
section.product-slider .slider .slick-slide .color-choice span.ivory{background:#b6b1a1;}
section.product-slider .slider .slick-slide .color-choice span.gray{background:#908a8a;}
section.product-slider .slider .slick-slide .color-choice span.navy{background:#5a6069;}
section.product-slider .slider .slick-slide .color-choice span.black{background:#000;}
section.product-slider .slider .slick-slide .color-choice span.white{background:#fff;}
section.product-slider .slider .slick-slide .color-choice span.lightgreen{background:#b5dcc9;}
section.product-slider .slider .slick-slide .color-choice span.darkgreen{background:#264438;}
section.product-slider .slider .slick-slide .color-choice span.darkpink{background:#bc857e;}
section.product-slider .slider .slick-slide .color-choice span.halfalpha{background:rgba(117,100,90,.5);}

/************************************************컬렉션라인섹션*/
section.product-line{width:100%;}
section.product-line img{
    width:100%; 
    transition:.5s ease;
-webkit-transition:.5s ease;
}
section.product-line .pdt-deph{width:70%; margin:0 auto; overflow:hidden; position:relative; left:0; top:0; margin-top:46px;}
section.product-line .pdt-deph div{background:#000; position:relative; left:0;top:0; overflow:hidden; border-radius:5px;}

section.product-line .pdt-deph1 div{float:left;width:48.5%;}
section.product-line .pdt-deph1 div:nth-child(1){margin-right:3%;}

section.product-line .pdt-deph3 div{float:left; width:48.5%;}
section.product-line .pdt-deph3 div:nth-child(1){margin-right:3%;}

section.product-line div.pdt-deph div:hover{animation:shine 1.5s ease forwards;}
section.product-line div.pdt-deph div:hover img{
    transform:scale(1.1); transition:.5s ease;
    -webkit-transform:scale(1.1); -webkit-transition:.5s ease;
}
section.product-line div.pdt-deph div:hover p{right:0; transition:.5s ease;}
@keyframes shine{
    from{
        opacity:0.8;
    }
    to{
        opacity:1;
    }
}
section.product-line .pdt-deph div p{
    width:250px; height:600px; 
    position:absolute; right:-450px; bottom:0%; z-index:900; 
    background:rgba(255,255,255,.7); text-align:center; 
    transition:0.5s ease;transform:skewX(-40deg);
    -webkit-transition:0.5s ease;-webkit-transform:skewX(-40deg);
}
section.product-line .pdt-deph div p span{
    position:absolute; left:44%; top:54%; 
    color:#320311; font-size:0.8em; word-spacing:0.4em;
    transform:translateX(-50%) skew(40deg);
    -webkit-transform:translateX(-50%) skew(40deg);
}
section.product-line .pdt-deph div p span small{display:block; font-size:1.2em; word-spacing:0em;}

/******************************************푸터*/
footer{width:100%; background:#320311; margin-top:120px; font-size:0.85em; position:relative; left:0; top:0;}
footer a{color:#fff;}
ul.footer-listwrap{width:70%; margin:0 auto; overflow:hidden; padding-top:50px;}
li.footer-mainmenu{width:20%; float:left;}
li.footer-mainmenu>h6{display:block; padding:10px 0; font-weight:700; border-bottom:1px solid #ddd; color:antiquewhite;}
li.footer-mainmenu li{margin:7px 0;}
li.social{width:20%;}
li.social li{width:10%; float:left; margin-right:8%;}
li.social li:last-child{margin-right:0;}
li.social img{width:100%;}
li.footer-mainmenu.logo{text-align:right;}
li.footer-mainmenu.logo img{width:50%;}

address{width:100%; margin-top:50px;text-align:center; color:#fff; padding-bottom:50px;}
address span{/*display:block;*/ margin-left:15px;}