@charset "utf-8";
/* Common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
  margin: 0;
  padding: 0;
}
body, input, textarea, select, table {
  font-family: '나눔고딕', NanumGothic, HelveticaNeue-Light, Helvetica, '돋움', Dotum, AppleGothic, sans-serif;
  font-size: 14px
}
img, fieldset, button {
  border: 0
}
ul, ol {
  list-style: none
}
em, address {
  font-style: normal
}
a {
  text-decoration: none
}
a:hover, a:active, a:focus {
  text-decoration: none
}
button {
  cursor: pointer
}
img {
  vertical-align: top
}
select {
  vertical-align: middle
}
table {
  border-collapse: collapse
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px
}
.inpt_hide {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  opacity: 0
}
input[type=text] {
  background: none;
  border: none;
  line-height: 44px;
  color: #666
}
input, textarea {
  outline-style: none
}
/* WEBFONT */
@font-face {
  font-family: 'SF UI Display Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SFProDisplay-Bold'), url('../font/sf-ui-display-bold.woff') format('woff');
}
/* fanship */
html, body {
  height: 100%;
}
.fanship .spot {
  position:relative;
  height: 357px;
  background: url('../img/ko/bg_fanship_spot.png') 50% 0 no-repeat;
  background-size:512px 357px;
}
.fanship .spot .inner{
}
.fanship .spot:before{
  position:absolute;
  left:0;
  right:0;
  height:357px;
  background:url('../img/bg_fanship_spot_rp.png') repeat-x;
  background-size:2px 357px;
  z-index:-1;
  content:'';
}
.fanship .inner {
  position: relative;
  width: 320px;
  height: 100%;
  margin: 0 auto;
}
/* .fanship .spot h1 {
  position: absolute;
  left: -3px;
  top: 31px;
  width: 135px;
  height: 44px;
}
.fanship .spot h1 .link_logo {
  display: block;
  width: 100%;
  height: 100%;
} */
.tab_lang {
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 30px;
    z-index:1;
    width: 112px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.56);
    background-color:#222;
    background-color:rgba(0,0,0,0.3136);
}

.tab_lang:after {
    position: absolute;
    right:7px;
    top: 8px;
    content: '';
    width: 9px;
    height: 4px;
    background: url(../img/ico_arrow.png) no-repeat 0 -9px;
}

.tab_lang.on:after {
    background-position: 0 0;
}

.tab_lang li {
    display: none;
}

.tab_lang li:first-child {
    display: block;
}

.tab_lang.on li {
    display: block;
}

.tab_lang li a {
    display: block;
    padding-left: 8px;
    font-size: 10px;
    color: #fff;
    line-height: 20px;
}
.fanship .section_info{
  height:1620px;
  background:#252439 url('../img/ko/bg_fanship_list.png')50% 0 no-repeat;
  background-size:512px 1620px
}
.fanship .section_info .inner{
  padding:182px 0 0 0;
}
.fanship .section_info .star_list.october,
.fanship .section_info .star_list.more{
  margin-top:71px;
}
.fanship .section_info .star_list{
}
.fanship .section_info .star_list .list_item + .list_item{
  margin-top:10px;
}
.fanship .section_info .star_list .link_item{
  display:block;
  margin:0 auto;
  width:280px;
  height:95px;
}
.fanship .section_event{
  height:626px;
  background:#962cd2 url('../img/ko/bg_fanship_event.png') 50% 0 no-repeat;
  background-size:512px 626px;
}
.fanship .section_event .btn_link{
  display:block;
  position:absolute;
  width:138px;
  height:38px;
  left:50%;
  margin-left:-69px;
  bottom:170px;
}
.fanship .footer {
  height: 209px;
  background:#251d2a url('../img/ko/bg_footer.png') 50% 0 no-repeat;
  background-size:512px 209px;
}
.fanship .footer ul {
  overflow: hidden;
  margin:0 auto;
  width:275px;
  padding-top:40px;
}
.fanship .footer ul li {
  float: left;
}
.fanship .footer ul li+li {
  margin-left: 7px;
}
.fanship .footer ul li a {
  display: block;
  width: 40px;
  height: 40px;
}
/* en */
[lang="en"] .fanship .spot{
  background: url('../img/en/bg_fanship_spot.jpg') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="en"] .fanship .section_info{
  height:1726px;
  background:#252439 url('../img/en/bg_fanship_list.jpg')50% 0 no-repeat;
  background-size:512px auto;
}
[lang="en"] .fanship .section_info .inner{
  padding: 202px 0 0 0;
}
[lang="en"] .fanship .section_info .star_list.october{
  margin-top:122px;
}
[lang="en"] .fanship .section_info .star_list.more{
  margin-top:93px;
}
[lang="en"] .fanship .section_event{
  height:771px;
  background:#962cd2 url('../img/en/bg_fanship_event.png') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="en"] .fanship .section_event .btn_link{
  width:158px;
  height:39px;
  left: 50%;
  margin-left: -79px;
  bottom: 197px;
}
[lang="en"] .fanship .footer {
  background:#251d2a url('../img/en/bg_footer.png') 50% 0 no-repeat;
  background-size:512px auto;
}

/* es */
[lang="es"] .fanship .spot{
  background:url('../img/es/bg_fanship_spot.jpg') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="es"] .fanship .section_info{
  height:1744px;
  background:#252439 url('../img/es/bg_fanship_list.jpg')50% 0 no-repeat;
  background-size:512px auto;
}
[lang="es"] .fanship .section_info .inner{
  padding: 220px 0 0 0;
}
[lang="es"] .fanship .section_info .star_list.october{
  margin-top:122px;
}
[lang="es"] .fanship .section_info .star_list.more{
  margin-top:93px;
}
[lang="es"] .fanship .section_event{
  height:785px;
  background:#962cd2 url('../img/es/bg_fanship_event.png') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="es"] .fanship .section_event .btn_link{
  width:158px;
  height:39px;
  left: 50%;
  margin-left: -79px;
  bottom: 197px;
}
[lang="es"] .fanship .footer {
  background:#251d2a url('../img/es/bg_footer.png') 50% 0 no-repeat;
  background-size:512px auto;
}

/* id */
[lang="id"] .fanship .spot{
  background:url('../img/id/bg_fanship_spot.jpg') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="id"] .fanship .section_info{
  height:1696px;
  background:#252439 url('../img/id/bg_fanship_list.jpg')50% 0 no-repeat;
  background-size:512px auto;
}
[lang="id"] .fanship .section_info .inner{
  padding: 202px 0 0 0;
}
[lang="id"] .fanship .section_info .star_list.october{
  margin-top:95px;
}
[lang="id"] .fanship .section_info .star_list.more{
  margin-top:93px;
}
[lang="id"] .fanship .section_event{
  height:769px;
  background:#962cd2 url('../img/id/bg_fanship_event.png') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="id"] .fanship .section_event .btn_link{
  width:158px;
  height:39px;
  left: 50%;
  margin-left: -79px;
  bottom: 187px;
}
[lang="id"] .fanship .footer {
  background:#251d2a url('../img/id/bg_footer.png') 50% 0 no-repeat;
  background-size:512px auto;
}
/* ja */
[lang="ja"] .fanship .spot{
  background:url('../img/ja/bg_fanship_spot.jpg') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="ja"] .fanship .section_info{
  height:1697px;
  background:#252439 url('../img/ja/bg_fanship_list.jpg')50% 0 no-repeat;
  background-size:512px auto;
}
[lang="ja"] .fanship .section_info .inner{
  padding: 198px 0 0 0;
}
[lang="ja"] .fanship .section_info .star_list.october{
  margin-top:73px;
}
[lang="ja"] .fanship .section_info .star_list.more{
  margin-top:93px;
}
[lang="ja"] .fanship .section_event{
  height:684px;
  background:#962cd2 url('../img/ja/bg_fanship_event.png') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="ja"] .fanship .section_event .btn_link{
  width:158px;
  height:39px;
  left: 50%;
  margin-left: -79px;
  bottom: 203px;
}
[lang="ja"] .fanship .footer {
  background:#251d2a url('../img/ja/bg_footer.png') 50% 0 no-repeat;
  background-size:512px auto;
}

/* th */
[lang="th"] .fanship .spot{
  background: url('../img/th/bg_fanship_spot.jpg') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="th"] .fanship .section_info{
  height:1667px;
  background:#252439 url('../img/th/bg_fanship_list.jpg')50% 0 no-repeat;
  background-size:512px auto;
}
[lang="th"] .fanship .section_info .star_list.october{
  margin-top:92px;
}
[lang="th"] .fanship .section_info .star_list.more{
  margin-top:97px;
}
[lang="th"] .fanship .section_event{
  height:642px;
  background:#962cd2 url('../img/th/bg_fanship_event.png') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="th"] .fanship .section_event .btn_link{
  width:158px;
  height:39px;
  left: 50%;
  margin-left: -79px;
  bottom: 170px;
}
[lang="th"] .fanship .footer {
  background:#251d2a url('../img/th/bg_footer.png') 50% 0 no-repeat;
  background-size:512px auto;
}

/* vi */
[lang="vi"] .fanship .spot{
  background: url('../img/vi/bg_fanship_spot.jpg') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="vi"] .fanship .section_info{
  height:1697px;
  background:#252439 url('../img/vi/bg_fanship_list.jpg')50% 0 no-repeat;
  background-size:512px auto;
}
[lang="vi"] .fanship .section_info .inner{
  padding: 223px 0 0 0;
}
[lang="vi"] .fanship .section_info .star_list.october{
  margin-top:96px;
}
[lang="vi"] .fanship .section_info .star_list.more{
  margin-top:69px;
}
[lang="vi"] .fanship .section_event{
  height:774px;
  background:#962cd2 url('../img/vi/bg_fanship_event.png') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="vi"] .fanship .section_event .btn_link{
  width:158px;
  height:39px;
  left: 50%;
  margin-left: -79px;
  bottom: 196px;
}
[lang="vi"] .fanship .footer {
  background:#251d2a url('../img/vi/bg_footer.png') 50% 0 no-repeat;
  background-size:512px auto;
}


/* zh-Hans */
[lang="zh-Hans"] .fanship .spot{
  background: url('../img/zh-Hans/bg_fanship_spot.jpg') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="zh-Hans"] .fanship .section_info{
  height:1649px;
  background:#252439 url('../img/zh-Hans/bg_fanship_list.jpg')50% 0 no-repeat;
  background-size:512px auto;
}
[lang="zh-Hans"] .fanship .section_info .inner{
  padding: 181px 0 0 0;
}
[lang="zh-Hans"] .fanship .section_info .star_list.october{
  margin-top:97px;
}
[lang="zh-Hans"] .fanship .section_info .star_list.more{
  margin-top:75px;
}
[lang="zh-Hans"] .fanship .section_event{
  height:651px;
  background:#962cd2 url('../img/zh-Hans/bg_fanship_event.png') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="zh-Hans"] .fanship .section_event .btn_link{
  bottom: 174px;
}
[lang="zh-Hans"] .fanship .footer {
  background:#251d2a url('../img/zh-Hans/bg_footer.png') 50% 0 no-repeat;
  background-size:512px auto;
}
/* zh-Hant */
[lang="zh-Hant"] .fanship .spot{
  background: url('../img/zh-Hant/bg_fanship_spot.jpg') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="zh-Hant"] .fanship .section_info{
  height:1629px;
  background:#252439 url('../img/zh-Hant/bg_fanship_list.jpg')50% 0 no-repeat;
  background-size:512px auto;
}
[lang="zh-Hant"] .fanship .section_info .inner{
  padding: 162px 0 0 0;
}
[lang="zh-Hant"] .fanship .section_info .star_list.october{
  margin-top:97px;
}
[lang="zh-Hant"] .fanship .section_info .star_list.more{
  margin-top:75px;
}
[lang="zh-Hant"] .fanship .section_event{
  height:651px;
  background:#962cd2 url('../img/zh-Hant/bg_fanship_event.png') 50% 0 no-repeat;
  background-size:512px auto;
}
[lang="zh-Hant"] .fanship .section_event .btn_link{
  bottom: 174px;
}
[lang="zh-Hant"] .fanship .footer {
  background:#251d2a url('../img/zh-Hant/bg_footer.png') 50% 0 no-repeat;
  background-size:512px auto;
}
